Cake's Domain 2.0/.vs/Server/v15/Server/sqlite3/storage.ide-shm

Cake's Domain 2.0/.vs/Server/v15/Server/sqlite3/storage.ide-wal

Cake's Domain 2.0/.vs/Server/v15/Server/sqlite3/db.lock
Cake's Domain 2.0/bin/Debug/log/errors_server.txt
Cake's Domain 2.0/bin/Debug/log/errors_wServer.txt
Cake's Domain 2.0/bin/Debug/log/log_server.txt
Cake's Domain 2.0/bin/Debug/log/log_wServer.txt
*.cache
